@charset "utf-8";
@import url("./fonts/AdventPro-Regular/AdventPro-Regular.css");

html {height: 100%;}
body {
    height: 100%;
    margin: 0px;
}

#content {
    position: relative;
    height: 90vh;
    width: 100%;
    background-color: lightblue;
}

#bottom {
    position: fixed;
    height: 10vh;
    width: 100%;
    background-color: royalblue;
    bottom: 0;
}